/* Template styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*width: 100% !important;*/
    /*max-width: 100%;*/
    width: 100vw;
    height: 100vh;
    /*overflow-y: hidden;*/
    overflow: hidden;
    overscroll-behaviour: contain;
    font-size: 17px;
    line-height: 24px;
    color: white;
    background: #13343D;
    
    margin: 0 auto;
    padding: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4 {
    /*color: #2ab27b;*/
    color: #FFFFFF;
    margin-bottom: 12px;
    line-height: 26px;
}
h1 {
    font-size: 30px;
    line-height: 30px;
}
h1.pagenum {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   text-align: center;
   color: white;
   width: 100%;
   left: 0;
   font-size: calc(1rem + 3vw);
}
p, ul, ul li {
    font-size: 17px;
    line-height: 24px;
}
ul {
    margin-bottom: 24px;
}
ul li {
    padding-top: 12px;
    padding-bottom: 4px;
    font-size: 24px;
}
p.mini {
    font-size: 12px;
    line-height: 18px;
    color: #ABAFB4;
}
p.message {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 4px;
}
hr {
    margin: 2rem 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ECECEC;
}
a, a:link, a:visited, a:active, a:hover {
    font-weight: bold;
    color: #439fe0;
    text-decoration: none;
    word-break: break-word;
}
a:active, a:hover {
    text-decoration: underline;
}
.time {
    font-size: 11px;
    color: #ABAFB4;
    padding-right: 6px;
}
.emoji {
    vertical-align: bottom;
}
.avatar {
    border-radius: 2px;
}
#footer p {
    margin-top: 16px;
    font-size: 12px;
}

.bars-0, .bars-1, .bars-2, .bars-3 {
    width: 117px;
    height: 117px;
    background-image: url('wifi-signal.png');
    background-repeat: no-repeat;
    transform: scale(0.2, 0.2);
    transform-origin: top left;
}

.bars-bigger {
    transform: scale(0.25, 0.25);
    position: relative;
    top: -4px;
    left: -5px;
}

.bars-1 {
    background-position: -117px 0;
}
.bars-2 {
    background-position: 0 -117px;
}
.bars-3 {
    background-position: -117px -117px;
}

/* Some sensible defaults for images
		Bring inline: Yes. */
img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}
a img {border:none;}
.image_fix {display:block;}


table {
    line-height: 24px;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 17px;
    /*color: lightgray;*/
    /*background: #F9F9F9;*/
}

td {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

#dhcp_leases table {
  border-collapse: collapse;
}
#dhcp_leases tr.matched {
    background-color: gray !important;
}
#dhcp_leases td {
    font-size: 14px;
    padding-left: 8px;
    line-height: 17px;
}




/* Mobile */
@media only screen and (max-device-width: 480px) {
    /* Part one of controlling phone number linking for mobile. */
    a[href^="tel"], a[href^="sms"] {
	text-decoration: none;
	color: blue; /* or whatever your want */
	pointer-events: none;
	cursor: default;
    }

    .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
	text-decoration: default;
	color: orange !important;
	pointer-events: auto;
	cursor: default;
    }

}

/* Not all email clients will obey these, but the important ones will */
@media only screen and (max-width: 480px) {
    .card {
	padding: 1rem 0.75rem !important;
    }
    .link_option {
	font-size: 14px;
    }
    hr {
	margin: 2rem -0.75rem !important;
	padding-right: 1.5rem !important;
    }
}

/* More Specific Targeting */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* You guessed it, ipad (tablets, smaller screens, etc) */
    /* repeating for the ipad */
    a[href^="tel"], a[href^="sms"] {
	text-decoration: none;
	color: blue; /* or whatever your want */
	pointer-events: none;
	cursor: default;
    }

    .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
	text-decoration: default;
	color: orange !important;
	pointer-events: auto;
	cursor: default;
    }
}

/* iPhone Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 640px)  {
    /* Must include !important on each style to override inline styles */
    #footer p {
	font-size: 9px;
    }
}

/* Android targeting */
@media only screen and (-webkit-device-pixel-ratio:.75){
    /* Put CSS for low density (ldpi) Android layouts in here */
    img {
	max-width: 100%;
	height: auto;
    }
}
@media only screen and (-webkit-device-pixel-ratio:1){
    /* Put CSS for medium density (mdpi) Android layouts in here */
    img {
	max-width: 100%;
	height: auto;
    }
}
@media only screen and (-webkit-device-pixel-ratio:1.5){
    /* Put CSS for high density (hdpi) Android layouts in here */
    img {
	max-width: 100%;
	height: auto;
    }
}
/* Galaxy Nexus */
@media only screen and (min-device-width : 720px) and (max-device-width : 1280px) {
    img {
	max-width: 100%;
	height: auto;
    }
    body {
	font-size: 16px;
    }
}
/* end Android targeting */
