[Unit]
Description=Jibo Station WiFi Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/local/jibo-station-wifi-service/run.sh

[Install]
WantedBy=multi-user.target
