/* Template styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100% !important;
    max-width: 100%;
    //overflow-y: hidden;
    overscroll-behaviour: contain;
    font-size: 17px;
    line-height: 24px;
    color: white;
    background: #F9F9F9;
    
    margin: 0 auto;
    padding: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

#notconnected {
    display: block;
}
.wifi-connected #notconnected {
    display: none;
}
.connecting #notconnected {
    display: none;
}
.disconnecting #notconnected {
    display: none;
}

#connected {
    display: none;
}
.wifi-connected #connected {
    display: block;
}
.connecting #connected {
    display: none;
}
.disconnecting #connected {
    display: none;
}

#disconnecting {
    display: none;
}
.disconnecting #disconnecting {
    display: block;
}

#connecting {
    display: none;
}
.connecting #connecting {
    display: block;
}


#stage-1-pending {
    display: block;
}
#stage-1-good {
    display: none;
}
#stage-1-bad {
    display: none;
}
.jibo-connected #stage-1-pending {
    display: none;
}
.jibo-connected #stage-1-good {
    display: block;
}
.jibo-connected #stage-1-bad {
    display: none;
}
.jibo-not-connected #stage-1-pending {
    display: none;
}
.jibo-not-connected #stage-1-good {
    display: none;
}
.jibo-not-connected #stage-1-bad {
    display: block;
}

#stage-2-pending {
    display: block;
}
#stage-2-good {
    display: none;
}
#stage-2-bad {
    display: none;
}
.internet-connected #stage-2-pending {
    display: none;
}
.internet-connected #stage-2-good {
    display: block;
}
.internet-connected #stage-2-bad {
    display: none;
}
.internet-not-connected #stage-2-pending {
    display: none;
}
.internet-not-connected #stage-2-good {
    display: none;
}
.internet-not-connected #stage-2-bad {
    display: block;
}

#stage-3-pending {
    display: block;
}
#stage-3-good {
    display: none;
}
#stage-3-bad {
    display: none;
}
.server-connected #stage-3-pending {
    display: none;
}
.server-connected #stage-3-good {
    display: block;
}
.server-connected #stage-3-bad {
    display: none;
}
.server-not-connected #stage-3-pending {
    display: none;
}
.server-not-connected #stage-3-good {
    display: none;
}
.server-not-connected #stage-3-bad {
    display: block;
}

#contactus {
    display: none;
}

.contactus #contactus {
    display: block;
}

form {
  max-width: 800px;
}

#sectionholder {
  font-family: sans-serif;
  scroll-snap-type: x mandatory;	
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}

section {
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  //border-right: 1px solid white;
  //padding: 1rem;
  padding-top: 50px;
  scroll-snap-align: start;
  //scroll-snap-stop: always;
  text-align: center;
  position: relative;
}

section:nth-child(even) {
    background-color: #13343D;
    // https://www.colorhexa.com/006994  // old
}
section:nth-child(odd) {
    background-color: #1B3C45;
}

.header {
    position:sticky;
    top:0;
    left:0;
    height:80px;
    z-index:900;
    width:100%;
}

h1, h2, h3, h4 {
    //color: #2ab27b;
    color: #FFFFFF;
    margin-bottom: 12px;
    line-height: 26px;
}
h1.pagenum {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   text-align: center;
   color: white;
   width: 100%;
   left: 0;
   font-size: calc(1rem + 3vw);
}
p, ul, ul li {
    font-size: 17px;
    margin: 0 0 16px;
    line-height: 24px;
}
ul {
    margin-bottom: 24px;
}
ul li {
    margin-bottom: 8px;
    font-size: 21px;
}
p.mini {
    font-size: 12px;
    line-height: 18px;
    color: #ABAFB4;
}
p.message {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 4px;
}
hr {
    margin: 2rem 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ECECEC;
}
a, a:link, a:visited, a:active, a:hover {
    font-weight: bold;
    color: #439fe0;
    text-decoration: none;
    word-break: break-word;
}
a:active, a:hover {
    text-decoration: underline;
}
.time {
    font-size: 11px;
    color: #ABAFB4;
    padding-right: 6px;
}
.emoji {
    vertical-align: bottom;
}
.avatar {
    border-radius: 2px;
}
#footer p {
    margin-top: 16px;
    font-size: 12px;
}

.bars-0, .bars-1, .bars-2, .bars-3 {
    width: 117px;
    height: 117px;
    background-image: url('wifi-signal.png');
    background-repeat: no-repeat;
    transform: scale(0.2, 0.2);
    transform-origin: top left;
}

.bars-bigger {
    transform: scale(0.25, 0.25);
    position: relative;
    top: -4px;
    left: -5px;
}

.bars-1 {
    background-position: -117px 0;
}
.bars-2 {
    background-position: 0 -117px;
}
.bars-3 {
    background-position: -117px -117px;
}

/* Some sensible defaults for images
		Bring inline: Yes. */
img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}
a img {border:none;}
.image_fix {display:block;}


table {
    line-height: 24px;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 17px;
    color: lightgray;
    background: #F9F9F9;
}

td {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

/* Mobile */
@media only screen and (max-device-width: 480px) {
    /* Part one of controlling phone number linking for mobile. */
    a[href^="tel"], a[href^="sms"] {
	text-decoration: none;
	color: blue; /* or whatever your want */
	pointer-events: none;
	cursor: default;
    }

    .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
	text-decoration: default;
	color: orange !important;
	pointer-events: auto;
	cursor: default;
    }

}

/* Not all email clients will obey these, but the important ones will */
@media only screen and (max-width: 480px) {
    .card {
	padding: 1rem 0.75rem !important;
    }
    .link_option {
	font-size: 14px;
    }
    hr {
	margin: 2rem -0.75rem !important;
	padding-right: 1.5rem !important;
    }
}

/* More Specific Targeting */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* You guessed it, ipad (tablets, smaller screens, etc) */
    /* repeating for the ipad */
    a[href^="tel"], a[href^="sms"] {
	text-decoration: none;
	color: blue; /* or whatever your want */
	pointer-events: none;
	cursor: default;
    }

    .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
	text-decoration: default;
	color: orange !important;
	pointer-events: auto;
	cursor: default;
    }
}

/* iPhone Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 640px)  {
    /* Must include !important on each style to override inline styles */
    #footer p {
	font-size: 9px;
    }
}

/* Android targeting */
@media only screen and (-webkit-device-pixel-ratio:.75){
    /* Put CSS for low density (ldpi) Android layouts in here */
    img {
	max-width: 100%;
	height: auto;
    }
}
@media only screen and (-webkit-device-pixel-ratio:1){
    /* Put CSS for medium density (mdpi) Android layouts in here */
    img {
	max-width: 100%;
	height: auto;
    }
}
@media only screen and (-webkit-device-pixel-ratio:1.5){
    /* Put CSS for high density (hdpi) Android layouts in here */
    img {
	max-width: 100%;
	height: auto;
    }
}
/* Galaxy Nexus */
@media only screen and (min-device-width : 720px) and (max-device-width : 1280px) {
    img {
	max-width: 100%;
	height: auto;
    }
    body {
	font-size: 16px;
    }
}
/* end Android targeting */
